* {margin:0; padding:0;}
body, div, span, p, a, img, ul, ol, li, table, caption, tbody, tfoot, tr, th, td, form, fieldset, legend, label, dl, dt, dd, blockquote, applet, object, h1, h2, h3, h4, h5 {border:0;}
body {padding:35px 0; background:#FFF; font:0.8em/1.5 "arial",sans-serif; color:#2F2F2F; text-align:center;}

a {color:#0067E6;}
a:hover {color:#F60;}

h1, h2, h3, h4, h5, h6 {margin:15px 0 10px 0;}
h1 {font-size:180%;}
h2 {font-size:160%;}
h3, h4 {font-size:120%;}
h5 {font-size:100%;}

p {margin:15px 0;}



table {margin:15px 0; border-collapse:collapse; border-spacing:0; font-size:100%;}
table.width100 {width:100%;}
th {text-align:center; font-weight:bold;}
th, td {padding:3px 5px;}



ul, ol {display:block; margin:15px 0 15px 30px;}
ul ul, ol ol {margin:0; margin-left:20px;}
ol {list-style-type:decimal;}
li {display:list-item;}

dl {margin:15px 0;}
dd {margin-left:30px;}

fieldset {position:relative; margin:15px 0; padding:10px; border:1px solid #CCC;}
legend {position:absolute; top:-1em; margin:0; padding:3px 6px; background:#6B0; font-size:100%; font-weight:bold; color:#FFF;}

abbr, acronym, .help {border-bottom:1px solid #CDA400; cursor:help;}
del, .del {text-decoration:line-through;}
strong, .strong {font-weight:bold;}
cite, em, q {font-style:italic;}
code, kbd, samp {font-family:monospace; font-size:110%;}
blockquote {margin:15px 20px; font-style:italic;}

hr {display:block; height:1px; margin:10px 0; border:0 solid #CCC; background:#CCC; color:#CCC;}

/* ----------------------------------------------------------------------------------------------------------
Universal
---------------------------------------------------------------------------------------------------------- */

.clear {clear:both;}
.f-left {float:left !important;} img.f-left {float:left; margin-right:10px;}
.f-right {float:right !important;} img.f-right {float:right; margin-left:10px;}

.t-left {text-align:left !important;}
.t-center {text-align:center !important;}
.t-right {text-align:right !important;}
.t-justify {text-align:justify !important;}

.va-top {vertical-align:top;}
.va-middle {vertical-align:middle;}
.va-bottom {vertical-align:bottom;}

.bigger {font-size:110%;}
.smaller {font-size:85%;}

.high {color:#6B0;}
.nonhigh {color:#808080;}

.box {min-height:1px;}
.box:after {display:block; visibility:hidden; clear:both; line-height:0; font-size:0; content:".";}
.nom {margin:0;}
.nom_sitestats {margin:0; border-bottom:1px solid #6B0; margin-bottom:10px;}
.nomt {margin-top:0;}
.nomb {margin-bottom:0;}

.noscreen {display:none;}
.topleft{margin-right:5px;margin-bottom:5px;float:left;width:338px;height:230px;}
.topleftcontent{width:338px;height:185px;border-bottom:solid 1px blue;border-right:solid 1px blue;border-top:solid 1px blue;border-left:solid 1px blue;}

.topright{margin-bottom:5px;float:right;width:338px;height:230px;}
.topleftcontent{width:338px;height:185px;border-bottom:solid 1px blue;border-right:solid 1px blue;border-top:solid 1px blue;border-left:solid 1px blue;}




/* ----------------------------------------------------------------------------------------------------------
HTML styles
---------------------------------------------------------------------------------------------------------- */

.ul-style01 {margin:15px 0; margin-left:20px; padding:0; list-style-type:square;}
.ul-style01 li {margin:0; padding:0;}

.ul-categories {margin:20px 0; padding:0; list-style:none;}
.ul-categories li {margin:0; padding:0; display:block; float:left; width:270px; margin-right:10px; padding-left:20px; background:url("../design/folder.gif") 0 4px no-repeat;}

.table-style01 td {padding:3px 0;}

/* ----------------------------------------------------------------------------------------------------------
LAYOUT
---------------------------------------------------------------------------------------------------------- */

#main {width:900px; margin:0 auto; text-align:left;}

	#header {position:relative; overflow:hidden; margin-bottom:-20px;}

    #logo {margin:0; border:0;}

    #page {clear:both; margin:15px 0;}

    	#col-l {float:left; width:690px; height:438px;border-bottom:solid 1px blue;border-left:solid 1px blue;
    						border-right:solid 1px blue;border-top:solid 1px blue;margin-bottom:10px;}
    	#col-signup {float:right; width:200px; overflow:hidden;}

	#footer {clear:both; border-top:3px solid #EFEFEF;}
	#footer p {margin-top:7px;}

        #copy, #copy a {color:#777;}
        #copy a:hover {color:#333;}

/* ----------------------------------------------------------------------------------------------------------
Page: Homepage
---------------------------------------------------------------------------------------------------------- */

.date {position:absolute; top:0; right:0; margin:0; text-align:right;}

    .date-01 {padding-right:40px; background:url("../images/ico-cal-01.gif") 100% 50% no-repeat;}
    .date-02 {padding-right:40px; background:url("../images/ico-cal-02.gif") 100% 50% no-repeat;}
    .date-03 {padding-right:40px; background:url("../images/ico-cal-03.gif") 100% 50% no-repeat;}
    .date-04 {padding-right:40px; background:url("../images/ico-cal-04.gif") 100% 50% no-repeat;}
    .date-05 {padding-right:40px; background:url("../images/ico-cal-05.gif") 100% 50% no-repeat;}
    .date-06 {padding-right:40px; background:url("../images/ico-cal-06.gif") 100% 50% no-repeat;}
    .date-07 {padding-right:40px; background:url("../images/ico-cal-07.gif") 100% 50% no-repeat;}
    .date-08 {padding-right:40px; background:url("../images/ico-cal-08.gif") 100% 50% no-repeat;}
    .date-09 {padding-right:40px; background:url("../images/ico-cal-09.gif") 100% 50% no-repeat;}
    .date-10 {padding-right:40px; background:url("../images/ico-cal-10.gif") 100% 50% no-repeat;}
    .date-11 {padding-right:40px; background:url("../images/ico-cal-11.gif") 100% 50% no-repeat;}
    .date-12 {padding-right:40px; background:url("../images/ico-cal-12.gif") 100% 50% no-repeat;}
    .date-13 {padding-right:40px; background:url("../images/ico-cal-13.gif") 100% 50% no-repeat;}
    .date-14 {padding-right:40px; background:url("../images/ico-cal-14.gif") 100% 50% no-repeat;}
    .date-15 {padding-right:40px; background:url("../images/ico-cal-15.gif") 100% 50% no-repeat;}
    .date-16 {padding-right:40px; background:url("../images/ico-cal-16.gif") 100% 50% no-repeat;}
    .date-17 {padding-right:40px; background:url("../images/ico-cal-17.gif") 100% 50% no-repeat;}
    .date-18 {padding-right:40px; background:url("../images/ico-cal-18.gif") 100% 50% no-repeat;}
    .date-19 {padding-right:40px; background:url("../images/ico-cal-19.gif") 100% 50% no-repeat;}
    .date-20 {padding-right:40px; background:url("../images/ico-cal-20.gif") 100% 50% no-repeat;}
    .date-21 {padding-right:40px; background:url("../images/ico-cal-21.gif") 100% 50% no-repeat;}
    .date-22 {padding-right:40px; background:url("../images/ico-cal-22.gif") 100% 50% no-repeat;}
    .date-23 {padding-right:40px; background:url("../images/ico-cal-23.gif") 100% 50% no-repeat;}
    .date-24 {padding-right:40px; background:url("../images/ico-cal-24.gif") 100% 50% no-repeat;}
    .date-25 {padding-right:40px; background:url("../images/ico-cal-25.gif") 100% 50% no-repeat;}
    .date-26 {padding-right:40px; background:url("../images/ico-cal-26.gif") 100% 50% no-repeat;}
    .date-27 {padding-right:40px; background:url("../images/ico-cal-27.gif") 100% 50% no-repeat;}
    .date-28 {padding-right:40px; background:url("../images/ico-cal-28.gif") 100% 50% no-repeat;}
    .date-29 {padding-right:40px; background:url("../images/ico-cal-29.gif") 100% 50% no-repeat;}
    .date-30 {padding-right:40px; background:url("../images/ico-cal-30.gif") 100% 50% no-repeat;}
    .date-31 {padding-right:40px; background:url("../images/ico-cal-31.gif") 100% 50% no-repeat;}

#Tablist {position:relative; bottom:-0.5px; padding-left:30px;}
#Tablist ul {margin:0; padding:0; list-style:none;}
#Tablist ul li {display:inline; margin:0; padding:0;}
#Tablist ul li a {float:left; margin:0; padding:0 0 0 15px; text-align:center; cursor:pointer; font-size:120%;}
#Tablist ul li a span {float:left; display:block; padding:0 15px 0 0; line-height:30px; vertical-align:middle; text-decoration:underline;}
#Tablist ul li a.active {background:#F0F6FF url("../images/Tablist-active.gif") 0 0 no-repeat; text-decoration:none; color:#2F2F2F; font-weight:bold;}
#Tablist ul li a.active span {background:#F0F6FF url("../images/Tablist-active-02.gif") 100% 0 no-repeat; text-decoration:none;}

#row-top {width:900px; height:6px; background:#DCEBFF url("../images/row-top.gif") 0 100% no-repeat; font-size:0;}
#row-center {background:#DCEBFF url("../images/row-center.gif") 0 0 repeat-y; overflow:hidden;}
#row-bottom {width:900px; height:6px; background:#DCEBFF url("../images/row-bottom.gif") 0 0 no-repeat; font-size:0;}

#row-center div{height:20px;}
#nodemarqee {float:left;width:70%;}
#nodemarqee a {padding-left:20px;}
#userinfo {float:right;padding-right:20px;}
#userinfo a {text-decoration:none;}
#userinfo a:hover{text-decoration:underline}

.add {padding-left:20px; background:url("../images/add.gif") 0 1px no-repeat;}
a:hover.add {color:#6B0;}

dl.cat {float:left; width:290px; margin:0; margin-bottom:10px; padding:0;}
dl.cat dt {padding-left:30px; background:url("../images/cat-dt.gif") 0 50% no-repeat; font-size:130%; font-weight:bold;}
dl.cat dd {margin:0 0 5px 0; padding-left:30px; background:url("../images/cat-dd.gif") 7px 5px no-repeat;}
dl.cat dd a {color:#808080;}
dl.cat dd a:hover {color:#404040;}

.new-link {clear:both; padding:5px 0; background:url("../images/dot02.gif") 0 100% repeat-x;}
.new-link p {margin:0;}
.new-link strong {font-size:120%;}

#signup h3 {margin:0; padding:7px 10px; background:#FC0 url("../images/signup-top.gif") 0 0 no-repeat;}
#signup .in {padding:10px 5px 7px 5px; border-bottom:1px solid #FC0; background:#FFF4CC url("../images/signup.gif") 0 0 repeat-y;}
#signup .in02 {padding:10px 5px 7px 5px; background:url("../images/signup.gif") 0 0 repeat-y;height:18px;}
#signup ul {margin:0; margin-left:5px; padding:0; list-style:none;}
#signup ul li {margin:0; padding:0;}
#signup-bottom {height:6px; margin-bottom:10px; background:url("../images/signup-bottom.gif") 0 0 no-repeat; font-size:0;}

.tabs-sidebar {border-bottom:1px solid #6B0;}
.tabs-sidebar ul {margin:0; padding:0; list-style:none;}
.tabs-sidebar ul li {display:inline; margin:0; padding:0;}
.tabs-sidebar ul li a {float:left; margin:0; padding:0 0 0 7px; text-align:center; cursor:pointer;}
.tabs-sidebar ul li a span {float:left; display:block; padding:0 7px 0 0; line-height:35px; vertical-align:middle; text-decoration:underline;}
.tabs-sidebar ul li a.active {background:#6B0 url("../images/tab-active.gif") 0 0 no-repeat; text-decoration:none; color:#FFF; font-weight:bold;}
.tabs-sidebar ul li a.active span {background:#6B0 url("../images/tab-active-02.gif") 100% 0 no-repeat; text-decoration:none;}

    .h-02 {font-size:140%;}
    .h-01 {font-size:120%;}
    .l-01 {font-size:95%;}
    .l-02 {font-size:85%;}

/* ----------------------------------------------------------------------------------------------------------
Page: Category
---------------------------------------------------------------------------------------------------------- */

.cat-results {margin:10px 0; padding:0; list-style:none;}
.cat-results li {padding:7px 0; background:url("../images/dot02.gif") 0 100% repeat-x;}
.cat-results li h4, .cat-results li p {margin:0;}
.cat-results li h4 span {font-size:85%; font-weight:normal;}
.cat-results .high {color:#490;}

/* ----------------------------------------------------------------------------------------------------------
Page: Results
---------------------------------------------------------------------------------------------------------- */

.pagination {clear:both; text-align:center; font-size:120%;}
.pagination strong {padding:2px 7px; background:#FC0 url("../images/pagination.gif") 0 100% repeat-x; color:#FFF; font-weight:bold;}
.pagination a {color:#9B7C00;}
.pagination a:hover {color:#665200;}

.results {margin:20px 0 20px 20px; padding:0;}
.results li {padding:7px 0; background:url("../images/dot02.gif") 0 100% repeat-x;}
.results li h4, .results li p {margin:0;}
.results li h4 span {font-size:85%; font-weight:normal;}

/* ----------------------------------------------------------------------------------------------------------
Page: Submit
---------------------------------------------------------------------------------------------------------- */

optgroup {background:#FFF; font:bold 100%/1.2 "arial",sans-serif !important; color:#997C00;}
option { background:#FFF; padding-left:15px; color:#2F2F2F;}

.note {font-size:85%; color:#808080; font-style:italic;}

.tabs {border-bottom:1px solid #6B0;}
.tabs ul {margin:0; padding:0; list-style:none;}
.tabs ul li {display:inline; margin:0; padding:0;}
.tabs ul li a {float:left; margin:0; padding:0 0 0 7px; text-align:center; cursor:pointer;}
.tabs ul li a span {float:left; display:block; padding:0 7px 0 0; line-height:35px; vertical-align:middle; text-decoration:underline;}
.tabs ul li a.active {background:#6B0 url("../images/tab-active.gif") 0 0 no-repeat; text-decoration:none; color:#FFF; font-weight:bold;}
.tabs ul li a.active span {background:#6B0 url("../images/tab-active-02.gif") 100% 0 no-repeat; text-decoration:none;}

.add-page {border:1px solid #DDD; background:#FFF; color:#F60;}

#tooltip {position:absolute; left:-300px; width:300px; border:1px solid #000; padding:4px 6px; background-color:#FFC; visibility:hidden; z-index:998; text-align:left;}
#tooltip-arrow {position:absolute; left:-300px; z-index:999; visibility:hidden;}

/* ----------------------------------------------------------------------------------------------------------
Page: Detail
---------------------------------------------------------------------------------------------------------- */

.ul-folder {margin:15px 0 15px 15px; padding:0; list-style:none;}
.ul-folder li {padding-left:20px; background:url("../images/folder.gif") 0 3px no-repeat;}

/* ----------------------------------------------------------------------------------------------------------
Others
---------------------------------------------------------------------------------------------------------- */

.title01-top {width:900px; height:6px; background:#FFF5C7 url("../images/title01-top.gif") 0 100% no-repeat; font-size:0;}
.title01 {margin:0; background:#FFF5C7 url("../images/title01.gif") 0 0 repeat-y;}
.title01-in {margin:0; padding:2px 10px; background:url("../images/title01-in.gif") 0 0 no-repeat;}
.title01 h2, .title01 h3, .title01 h4 {margin:0; font-size:120%;}
.title01 p {margin:0;}
.title01-bottom {width:900px; height:6px; margin-bottom:10px; background:#FFF5C7 url("../images/title01-bottom.gif") 0 0 no-repeat; font-size:0;}
.title01 p {position:relative; top:2px; color:#9B7C00;}

.title02-top {width:900px; height:6px; background:#DCEBFF url("../images/search-top.gif") 0 100% no-repeat; font-size:0;}
.title02 {margin:0; background:#DCEBFF url("../images/search.gif") 0 0 repeat-y;}
.title02-in {margin:0; padding:2px 10px; background:url("../images/search-in.gif") 0 0 no-repeat;}
.title02 p {margin:0;}
.title02-bottom {width:900px; height:6px; margin-bottom:10px; background:#DCEBFF url("../images/search-bottom.gif") 0 0 no-repeat; font-size:0;}

.title03-top {width:900px; height:6px; background:#F4FDE8 url("../images/title03-top.gif") 0 100% no-repeat; font-size:0;}
.title03 {margin:0; padding:2px 10px; background:#F4FDE8 url("../images/title03.gif") 0 0 repeat-y;}
.title03-bottom {width:900px; height:6px; margin-bottom:10px; background:#F4FDE8 url("../images/title03-bottom.gif") 0 0 no-repeat; font-size:0;}

#col-l .title01-top {width:690px; height:6px; background:#FFF5C7 url("../images/title01b-top.gif") 0 100% no-repeat; font-size:0;}
#col-l .title01 {margin:0; background:#FFF5C7 url("../images/title01b.gif") 0 0 repeat-y;}
#col-l .title01-in {margin:0; padding:2px 10px; background:url("../images/title01b-in.gif") 0 0 no-repeat;}
#col-l .title01 h2, .title01 h3, .title01 h4 {margin:0; font-size:120%;}
#col-l .title01 p {margin:0;}
#col-l .title01-bottom {width:690px; height:6px; margin-bottom:10px; background:#FFF5C7 url("../images/title01b-bottom.gif") 0 0 no-repeat; font-size:0;}

.title01338-top {width:338px; height:6px; background:#FFF5C7 url("../images/title01b338-top.gif") 0 100% no-repeat; font-size:0;}
.title01338 {margin:0; background:#FFF5C7 url("../images/title01b338.gif") 0 0 repeat-y;}
.title01338-in {margin:0; padding:2px 10px; background:url("../images/title01b338-in.gif") 0 0 no-repeat;}
.title01338 h2, .title01338 h3, .title01338 h4 {margin:0; font-size:120%;}
.title01338 p {margin:0;}
.title01338-bottom {width:338px; height:3px; margin-bottom:10px; background:#FFF5C7 url("../images/title01b338-bottom.gif") 0 0 no-repeat; font-size:0;}

.title01690-top {width:690px; height:6px; background:#FFF5C7 url("../images/title01b690-top.gif") 0 100% no-repeat; font-size:0;}
.title01690 {margin:0; background:#FFF5C7 url("../images/title01b690.gif") 0 0 repeat-y;}
.title01690-in {margin:0; padding:2px 10px; background:url("../images/title01b690-in.gif") 0 0 no-repeat;}
.title01690 h2, .title01690 h3, .title01690 h4 {margin:0; font-size:120%;}
.title01690 p {margin:0;}
.title01690-bottom {width:690px; height:6px; margin-bottom:10px; background:#FFF5C7 url("../images/title01b690-bottom.gif") 0 0 no-repeat; font-size:0;}

.title01200-top {width:200px; height:6px; background:#FFF5C7 url("../images/title01b200-top.gif") 0 100% no-repeat; font-size:0;}
.title01200 {margin:0; background:#FFF5C7 url("../images/title01b200.gif") 0 0 repeat-y;}
.title01200-in {margin:0; padding:2px 10px; background:url("../images/title01b200-in.gif") 0 0 no-repeat;}
.title01200 h2, .title01200 h3, .title01200 h4 {margin:0; font-size:120%;}
.title01200 p {margin:0;}
.title01200-bottom {width:200px; height:6px; margin-bottom:10px; background:#FFF5C7 url("../images/title01b200-bottom.gif") 0 0 no-repeat; font-size:0;}

.title01225-top {width:225px; height:6px; background:#FFF5C7 url("../images/title01b225-top.gif") 0 100% no-repeat; font-size:0;}
.title01225 {margin:0; background:#FFF5C7 url("../images/title01b225.gif") 0 0 repeat-y;}
.title01225-in {margin:0; padding:2px 10px; background:url("../images/title01b225-in.gif") 0 0 no-repeat;}
.title01225 h2, .title01225 h3, .title01225 h4 {margin:0; font-size:120%;}
.title01225 p {margin:0;}
.title01225-bottom {width:225px; height:6px; margin-bottom:10px; background:#FFF5C7 url("../images/title01b225-bottom.gif") 0 0 no-repeat; font-size:0;}

.col70 {float:left; width:590px;}
.col50 {float:left; width:440px;}
.col30 {float:left; width:300px;}

#top {position:relative; z-index:2;}
#signup-form {position:absolute; top:30px; left:30px; border:1px solid #FC0; background:#FFF; z-index:500;}
#signup-form-tray {margin-top:0; padding:5px 10px; background:#FC0 url("../images/pagination.gif") 0 100% repeat-x; text-align:right; font-weight:bold;}
#signup-form-tray a {color:#FFF;}
#signup-form-tray a:hover {color:#000;}
#signup-form-form {padding:10px; border-bottom:1px solid #FC0; background:#FFF4CC;}
#signup-form-bottom {padding:10px;}

.folder {padding-left:20px; background:url("../images/folder.gif") 0 3px no-repeat;}

.bt {padding-top:10px; background:url("../images/dot02.gif") 0 0 repeat-x;}
.bb {padding-bottom:10px; background:url("../images/dot02.gif") 0 100% repeat-x;}

.ico-list {padding-left:20px; background:url("../images/ico-list.gif") 0 4px no-repeat;}
.ico-info {padding-left:20px; background:url("../images/ico-info.gif") 0 4px no-repeat;}
.ico-card {padding-left:20px; background:url("../images/ico-card.gif") 0 1px no-repeat;}
.ico-reg {padding-left:22px !important; background:url("../images/ico-reg.gif") 0 1px no-repeat;float:left;}
.ico-send {padding-left:22px !important; background:url("../images/ico-send.gif") 0 2px no-repeat;float:right;}
    
.relative {position:relative;}
.signintip {font-size:0.8em;font-weight:normal;color:red;display:none;}
.tempcolleft {float:left; width:680px;background-color:#f7fcff;}
.tempcolleft p{font-size:14px;padding:0 25px 0 25px;}
.temphead {overflow:hidden;text-align:center;}

.tipblock h3{background:url("../images/blockhead.gif");border-top:1px solid #FFCC00;border-left:1px solid #FFCC00;border-right:1px solid #FFCC00;margin:0;}
.tipblock div{border-bottom:1px solid #FFCC00;border-left:1px solid #FFCC00;border-right:1px solid #FFCC00;}

.browsercontent {float:right;width:680px;}
.browser {overflow:hidden;border:1px solid #FFCC00;}
.browserh {height:20px;background:#DCEBFF none repeat scroll 0 0;margin:0;padding:2px;width:100%;}
.urlenter {width:80%;margin-left:5px;float:left;}
.realbrowser {height:0;overflow:hidden;background:#DCEBFF none repeat scroll 0 0;}
.dropbtn {float:right;margin-right:15px;margin:1px;}
.leftbrowser {float:left;width:65%;height:100%;overflow:scroll;margin-left:1px;}
.rightlink {float:right;width:33%;overflow:scroll;height:100%;margin:1px;}


/**************************************************************new websites css(hilary)***********************************/

mem, p{margin:0 0}
#reg td{padding:10px 10px;}
/*-----------------------------------------------------------------------------
index.php styles by hilary
----------------------------------------------------------------------------*/
.middleleft{margin-right:5px;margin-bottom:5px;float:left;width:690px;height:350px;border-bottom:solid 1px blue;border-right:solid 1px blue;border-top:solid 1px blue;border-left:solid 1px blue;}
.middleright{margin-bottom:5px;float:right;width:200px;height:350px;border-bottom:solid 1px blue;border-right:solid 1px blue;border-top:solid 1px blue;border-left:solid 1px blue;}
.bot1{margin-right:5px;float:left;width:225px;height:350px;border-bottom:solid 1px blue;border-right:solid 1px blue;border-top:solid 1px blue;border-left:solid 1px blue;}
.bot2{margin-right:5px;float:left;width:225px;height:350px;border-bottom:solid 1px blue;border-right:solid 1px blue;border-top:solid 1px blue;border-left:solid 1px blue;}
.bot3{margin-right:5px;float:left;width:225px;height:350px;border-bottom:solid 1px blue;border-right:solid 1px blue;border-top:solid 1px blue;border-left:solid 1px blue;}
.bot4{margin-left:2px;float:left;width:200px;height:350px;border-bottom:solid 1px blue;border-right:solid 1px blue;border-top:solid 1px blue;border-left:solid 1px blue;}
.advbot1{margin-top:5px;float:left;width:900px;height:60px;border-bottom:solid 1px blue;border-right:solid 1px blue;border-top:solid 1px blue;border-left:solid 1px blue;}
.advbot2{float:left;margin-right:8px;float:left;width:450px;height:60px;border-bottom:solid 1px blue;border-right:solid 1px blue;border-top:solid 1px blue;border-left:solid 1px blue;}
.advbot3{float:right;float:left;width:438px;height:60px;border-bottom:solid 1px blue;border-right:solid 1px blue;border-top:solid 1px blue;border-left:solid 1px blue;}
.friendlink{margin-top:5px;float:left;width:900px;border-bottom:solid 1px blue;border-right:solid 1px blue;border-top:solid 1px blue;border-left:solid 1px blue;}

/*-----------------------------------------------------------------------------
register.php styles by hilary
----------------------------------------------------------------------------*/
.reg_left{margin-top:14px;float:left;width:265px; height:540px; border-bottom:solid 1px blue;border-right:solid 1px blue;border-top:solid 1px blue;border-left:solid 1px blue;}
.reg_right{margin-top:14px;float:right;width:270px; height:540px; border-bottom:solid 1px blue;border-right:solid 1px blue;border-top:solid 1px blue;border-left:solid 1px blue;}
.reg_table{color:green;font-weight:bold; font-size:large;text-align:center;height:40px;}
.reg_bot{clear:both;width:900px;height:120px;border-bottom:solid 1px blue;border-right:solid 1px blue;border-top:solid 1px blue;border-left:solid 1px blue;}
.text_reg{width:150px;height:50px;text-align:left;}
.fill_reg{width:250px;height:50px;text-align:left;}
/*-----------------------------------------------------------------------------
members.php styles by hilary
----------------------------------------------------------------------------*/
.mem_left{margin-top:14px;float:left;width:200px;height:600px;}



/*-----------------------------------------------------------------------------------
memberleft.php styles by hilary
-------------------------------------------------------------------------------------*/

.channel { width:198px;margin-top:10px;line-height:30px; text-align:center;border-bottom:1px solid #FC0;border-top:1px solid #FC0;border-right:1px solid #FC0;border-left:1px solid #FC0;border-collapse: collapse }
.channel ul { list-style:none; margin:0px;}
.channel li { padding-left:8px; text-align:left; }
.channel a { background:url(../images/arrow2.gif) no-repeat left; padding-left:10px; color:#457a8b; font-size:14px; font-weight:bold; }
.channel a:link { background:url(../images/arrow2.gif) no-repeat left; padding-left:10px; color: #687733; }
.channel a:visited { background:url(../images/arrow2.gif) no-repeat left; padding-left:10px; color: #687733; }
.channel a:hover { background:url(../images/arrow1.gif) no-repeat left; padding-left:10px; color:#78b4c7; }
.channel a:active { background:url(../images/arrow1.gif) no-repeat left; padding-left:10px; color:#78b4c7; }

